<form [formGroup]="enderecoForm" class="form-container">
    <div class="form-content-container">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nome" placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CPF</mat-label>
            <input type="text" matInput formControlName="cpf" placeholder="CPF" mask="000.000.000-00">
            <mat-error *ngIf="enderecoForm.get('cpf')?.errors?.['invalidCPF']">CPF inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data de Nascimento</mat-label>
            <input type="text" matInput formControlName="data_de_nascimento" placeholder="Data de Nascimento" mask="00/00/0000">
            <mat-error *ngIf="enderecoForm.get('data_de_nascimento')?.errors?.['invalidDate']">Data de Nascimento inválida</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="text" matInput formControlName="email" placeholder="E-mail">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input type="text" matInput formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CEP</mat-label>
            <input type="text" matInput formControlName="cep" placeholder="CEP" (change)="onCepChange()" mask="00000-000"> 
        </mat-form-field>
        <mat-form-field>
            <mat-label>Logradouro</mat-label>
            <input type="text" matInput formControlName="logradouro" placeholder="Rua" readonly>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numero</mat-label>
            <input type="text" matInput formControlName="numero" placeholder="Numero">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Complemento</mat-label>
            <input type="text" matInput formControlName="complemento" placeholder="Complemento">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input type="text" matInput formControlName="bairro" placeholder="Bairro" readonly>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input type="text" matInput formControlName="cidade" placeholder="Cidade" readonly>
        </mat-form-field>
        <mat-form-field>
            <mat-label>UF</mat-label>
            <input type="text" matInput formControlName="uf" placeholder="Estado" readonly>
        </mat-form-field>
        <div class="save-container">
            <button type="submit" mat-raised-button color="accent">Salvar</button>
        </div>
        
    </div>
</form>